<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="/jq/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/my-web.css"/>
</head>
<body>
<script type="text/javascript">
    function login() {
        var userId = document.getElementById('userId').value;
        var userPassword = document.getElementById('userPassword').value;
        if(userId === ""||userId === null||userId === undefined){
            alert("账号未填写");
        } else if(userPassword === ""){
            alert("密码未填写");
        }else {
            $.ajax({
                type: "POST",
                url: "http://localhost:8887/login",
                contentType: "application/json; charset=utf-8",
                data:JSON.stringify({
                    userId: $("#userId").val(),
                    password: $("#userPassword").val()
                }),
                success: function (data) {
                    if (data.toString() === 'ok') {
                        window.location.href = 'http://localhost:8887';
                    } else {
                        alert(data.toString());
                    }
                }
            })
            ;
        }
    }
</script>

<div th:replace="navigation::nav"></div>
<div class="container-fluid containt">
    <div class="main login">
        <h2>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            登录您的账号
        </h2>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="userId">账号</label>
                <input name="userId" type="text" class="form-control" id="userId" placeholder="输入您的学号">
            </div>
            <div class="form-group">
                <label for="userPassword">密码</label>
                <input name="userPassword" type="password" class="form-control" id="userPassword" placeholder="输入您的密码">
            </div>
            <div>
                <button id="loginBtn" type="button" class="btn btn-success" onclick="login()">登陆</button>
                <a href="/registry">没有账号？点我注册</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>